<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <suite-files>
        <suite-file path="sprint1_firefox.xml"/>
        <suite-file path="sprint1_chromium.xml"/>
        <suite-file path="sprint1_webkit.xml"/>
    </suite-files>
</suite>